/* 
font-family: 'Antonio', sans-serif;
font-family: 'Mr Dafoe', cursive;
font-family: 'Roboto', sans-serif;
Font: Santio bold;
*/

/* 
Farbe: #e7bc0e  / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff
*/

@font-face {
  font-family: Santio;
  src: url(../font/SANTIO/OTP/Santio\Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Mr+Dafoe&family=Roboto:wght@300;400&display=swap');

/* Page Setting */
* {
  margin: 0;
  padding: 0;
  font-family: Santio;
}

img {
  width: 18%;
  margin: 0 0 5% 0;
}

main {
  height: 700vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/cleo-topper.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

span {
  color: #fff;
  background-color: #221d1d;
}

li,
button,
.inspired,
a {
  font-family: "Roboto", sans-serif;
}
/* Facst Content */

h2,
h3,
h4 {
  font-size: 13.5em;
}

.facts p {
  font-size: 3.7em;
}

.yellow {
  color: #e7bc0e;
}

.rosa {
  color: #cb91b6;
}

.menta,
a {
  color: #6bc1a3;
}

/* -- --- --- --- -- */

nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
}

nav > ul {
  list-style-type: none;
}

nav li {
  font-size: 1.6em;
  font-weight: 900;
  color: #fff;
  padding-top: 8%;
  padding-bottom: 8%;
  border-bottom: 3px solid #e7bc0e;
}

nav > img {
  width: 2.5%;
  padding-right: 2%;
  padding-top: 0.5%;
}

h5 {
  font-size: 1.5em;
  display: inline-block;
  border-bottom: 2px solid #e7bc0e;
  color: #fff;
}

.content {
  height: 50vw;
}

h1 {
  color: #fff;
  font-size: 4.8em;
  width: 26%;
  margin: 10% 0 3% 12%;
}

.content > p {
  font-family: "Mr Dafoe", cursive;
  font-size: 2.4em;
  margin: 2% 0 0 12%;
}

.indigenous {
  height: 55vw;
  padding-left: 20%;
}

.indigenous p {
  font-size: 2.5em;
  width: 73%;
  line-height: 1.6em;
}

.facts div {
  height: 55vw;
  padding-left: 10%;
}

p.workers {
  color: #7eb8e1;
  padding-left: 20%;
  padding-top: 15%;
  font-size: 2.4em;
  width: 73%;
  line-height: 1.6em;
}

.bridge {
  height: 145vh;
  display: flex;
  justify-content: center;
}

#see {
  position: relative;
  width: 100%;
  margin: 0;
}

#kid {
  position: absolute;
  width: 100%;
  margin-bottom: 2%;
}
/* Footer */

footer {
  height: 115vw;
  background-color: #000;
  color: #fff;
}

footer div {
  padding-top: 40%;
  padding-left: 10%;
}

footer > div > p {
  font-size: 7.5em;
  width: 75%;
}

footer button {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  font-size: 2em;
  padding: 2% 3%;
  margin-top: 5%;
}

.inspired {
  display: flex;
  justify-content: center;
  margin-top: 28%;
}

/* -- --- --- --- -- */

@media only screen and (max-width: 480px) {
  @media only screen and (max-width: 980px) {

    body {
      margin: 0;
      padding: 0;
    }

    main {
      font-size: 0.8em;
      width: 100%;
      height: 270vh;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/cleo-topper.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    nav {
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: #fff;
      padding: 0;
    }

    nav ul li {
      color: #3f3535;
      font-family: 'Antonio', sans-serif;
    }

    nav > img {
      width: 8%;
    }

    h1 {
      font-size: 2.3em;
      width: 70%;
      font-family: 'Antonio', sans-serif;
    }

    .content p {
      display: none;
    }

    span {
      color: #fff;
      background-color: #221d1d;
      font-family: 'Antonio', sans-serif;
    }

    .indigenous p {
      font-size: 1.5em;
      width: 90%;
      text-align: justify;
      margin-left: -10%;
      margin-top: -30%;
      font-family: 'Antonio', sans-serif;
    }

    h2,
    h3,
    h4 {
      font-size: 4em;
      font-family: 'Antonio', sans-serif;
    }

    .facts div:nth-of-type(1) {
      margin-top: 95%;
      font-family: 'Antonio', sans-serif;
    }
    
    .facts div {
      padding-left: -10%;
    }

    .facts p {
      font-size: 1.3em;
      font-family: 'Antonio', sans-serif;
      text-transform: uppercase;
    }

    p.workers {
      font-family: 'Antonio', sans-serif;
      text-align: justify;
      margin-left: -20%;
      padding-top: 20%;
      font-size: 1.5em;
      width: 90%;
      line-height: 1.4em;
    }

    .bridge {
      height: 30vh;
      display: flex;
      justify-content: center;
    }
    
    #see {
      position: relative;
      width: 100%;
      margin: 0;
    }
    
    #kid {
      position: absolute;
      width: 100%;
    }

    footer {
      height: 120vw;
      background-color: #000;
      color: #fff;
    }
    
    footer > div > p {
      font-size: 2em;
      width: 100%;
      margin-top: -30%;
      font-family: 'Antonio', sans-serif;
    }
    
    footer button {
      background-color: transparent;
      border: 3px solid #fff;
      color: #fff;
      font-size: 1.5em;
      padding: 2% 3%;
    }
    
    .inspired {
      text-align: center;
    }
  }
}
